body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.UI_elements_container {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.checkbox {
  pointer-events: all;
  display: flex;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  width: fit-content;
  margin: 10px;
  border-radius: 5px;
  padding: 4px 8px 4px 2px;
}

.checkbox-label {
  margin-left: 10px;
}
